<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n/"
  py:strip="">
  
  <py:def function="page_title">Guide</py:def>

  <div py:match="content">
    <h2>What's the Idea?</h2>
    <p i18n:msg="what">We aim to make it easy for people &ndash; like you
    &ndash; to make enquires of data holders, about the <a
      href="http://www.opendefinition.org/">openness</a> of
		the data they hold &mdash; and to record publicly the results of those
		efforts. We're especially focused on scientific data but anyone can use
		this service.</p>

    <p i18n:msg="">We're inspired by <a href="http://whatdotheyknow.com">What Do They
      Know?</a>, a site which allow citizens to make requests to find out
    information to which they have a right. It works by identifying the right
    place to ask, assisting users make requests and publicly displaying the
    results.</p>

    <h2>Who's Behind This?</h2>
    <p i18n:msg="">This is a project set up by the <a href="http://okfn.org/wiki/wg/science">Working Group on Open Data in Science</a> at the <a href="http://www.okfn.org/">Open Knowledge Foundation</a>.</p>

    <h2 id="get-in-touch">Want to Get In Touch?</h2>
    <p i18n:msg="">Have a question, found a bug or just want to tell us what you think?
    Email us at <a
				href="mailto:info@okfn.org@subject=Is It Open
				Service">info@okfn.org.</a>. Want to get involved in running and
      developing the project: join the <a
				href="http://lists.okfn.org/mailman/listinfo/okfn-help">mailing
				list</a>.
    </p>

		<h2 id="request-publication">Publication Policy and License</h2>
    <p i18n:msg="">All requests sent by this service, and all responses to those requests,
    will be made publicly available on this website and may be freely accessed
    copied by anyone. Formally, all material is licensed under a Creative
    Commons Attribution License v3.0.</p>
    
    <h2 id="privacy">Privacy Policy</h2>
    <p i18n:msg="">We will not disclose emails of users of this service unless required to
    by law (or you ask us to disclose your address). For more information see
    <a
      href="http://www.okfn.org/privacy-policy/">http://www.okfn.org/privacy-policy</a>.
    Details of 'data handlers' to whom requests are addressed will generally be
    published though we do (partially) obfuscate email addresses.</p>

		<h2 id="license">Is 'Is It Open' Open?</h2>
    <p i18n:msg="">Yes! All the code and content (excluding requests) on this site is
    openly licensed under, respectively, the <a
			href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">GNU Affero GPL
			v3.0</a> and a Creative Commons Attribution-Sharealike v3. The code can
		be obtained from our <a
			href="http://knowledgeforge.net/ckan/isitopen/">mercurial
				repository</a>.
		</p>

    <h2>What is Open Data?</h2>
		<p i18n:msg="">Open data is data that can used, reused and redistributed without restriction other than (perhaps) the requirement to attribution or share-alike. A full
    definition of openness is available at <a
      href="http://www.opendefinition.org/1.0">http://www.opendefinition.org/1.0</a>.
    Data is closed if, for example, it requires additional permission or payment for its
    reuse.</p>

    <h2>What Kind of (Scientific) Data Are You Thinking Of?</h2>
    <p i18n:msg="">For the purposes of this project, data includes all primary experimental data published within or alongside research papers.  This could be:</p>
    <ul>
      <li>Anything co-published with the full text of a scholarly article, that is labeled as supporting or supplemental information or data (or similar terms)</li>
      <li>The data content of any table or graph primarily concerned with experimental data.</li>
      <li>Any image acting as the primary way of capturing or reporting science e.g. Protein gels.</li>
      <li>Any audio or video stream representing primary data capture e.g. Moving physical objects.</li>
    </ul>

    <h2>Why Is Open Data Needed?</h2>
    <p>Scientists produce a vast amount of data in the course of their
    research. In the Internet age, this data can and should be available to be
    used as an input into new research, but for this to happen the data needs
    to be explicitly labelled as open.</p>

    <h2>What's the Problem?</h2>
    <p i18n:msg="">In practice it is often unclear whether the data on publisher's websites
    is openly available i.e accessible and freely re-usable without additional
    permission. In some cases, publishers may even restrict access to data by
    adding specific terms and conditions.</p>

    <p i18n:msg="">This despite the fact that Scholars donate their data to the community,
    without payment, through the publication process. They assume that anyone
    can then use their data for additional research and education, with the
    only requirement being  that the original researchers are acknowledged.</p>

    <p i18n:msg="">This view is also supported by publishers' organizations; for example
    the International Association of Scientific, Technical and Medical
    Publishers (STM) have issued a statement endorsing this approach to data
    access.</p>

    <h2>Don't authors sign their data over?</h2>
    <p i18n:msg="">Many publishers require that authors sign a transfer
    of copyright for their submitted manuscripts but this
    does not necessarily cover data. Here, we make no comment
    on Closed and Open Access to full text articles here, but
    argue that the data associated with publications belongs
    to the community and is, and should, be open.</p>

    <h2>How do I find out if data is open?</h2>
    <p i18n:msg="">The first method is to look on the publisher's website for their terms
    and conditions regarding use of their data.  This may categorically state
    that they reserve rights to all data, alternatively they may clearly apply
    an open knowledge license to their data (see
    <a
      href="http://www.opendefinition.org/licenses/">http://www.opendefinition.org/licenses/</a>
    for a list of such licenses). If the situation is ambiguous or unclear
    somebody may have requested clarification in the past (please check the
    archive or previous requests before sending a new one). If not, an enquiry
    can be made through the website.</p>
	</div>

  <xi:include href="layout.html" />
</html>
