<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip="">
  
  <py:def function="page_title">Home</py:def>

  <div py:match="content">
    <p i18n:msg="" style="font-size: 1.3em;">We've made it easy for <strong>you</strong> to make
    enquiries to data holders about the openness of
    the material they hold &mdash; and to record publicly the results of
    those efforts.
    </p>

    <ul class="big-buttons">
      <li><a href="${h.url_for('about')}">How Does
        It Work?</a></li>
      <li>Or</li>
      <li><a href="${h.url_for('browse')}">Browse
        Enquiries &raquo;</a></li>
      <li>Or</li>
      <li><a href="${h.url_for('start')}">Make an
        Enquiry &raquo;</a></li>
    </ul>
    
    <div style="float: right; width: 250px; font-size: 0.8em; text-align: center;">
      <img src="http://upload.wikimedia.org/wikipedia/commons/8/88/Mauna_Loa_Carbon_Dioxide.png" alt="Mauna Loa CO2" style="width: 250px;"/>
      <p i18n:msg="source">Our future depends on Open Data (<a href="http://commons.wikimedia.org/wiki/File:Mauna_Loa_Carbon_Dioxide.png">source</a>)</p>
    </div>

    <h2>Why Is Open Data Needed?</h2>
    <p>A vast amount of data is produced today by government, researchers and others. In the Internet age, this data can and should be available for use and reuse, but for this to happen the data needs to be explicitly labelled as open.</p>

    <h2>What's the Problem?</h2>
    <p i18n:msg="">In practice it is often unclear whether data is openly available i.e accessible and freely re-usable without additional permission. In some cases, access to data may be restricted by the addition of specific terms and conditions. <a href="${h.url_for('guide')}">Read More ...</a></p>

	</div>

  <xi:include href="layout.html" />
</html>
