<div
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  py:strip=""
  >

  <py:def function="render_message(message)">
  <div class="message">
    <py:if test="message">
    <div class="headers">
      <p i18n:msg="to"><strong>To:</strong> ${h.obfuscate_email(message.to)}</p>
      <p i18n:msg="subject"><strong>Subject:</strong> <em>${message.subject}</em></p>
      <py:if test="hasattr(message, 'timestamp')">
        <p i18n:msg="date"><strong>Date:</strong> ${message.timestamp.strftime('%c')}</p>
      </py:if>
      <py:if test="hasattr(message, 'status')">
        <p i18n:msg="status"><strong>Status:</strong> ${message.status}</p>
      </py:if>
    </div>
    <div>
      ${h.email_body(message.body)}
    </div>
    </py:if>
    <py:if test="not message">
    <p>Message could not be rendered.</p>
    </py:if>
  </div>
  </py:def>

</div>

