<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Sign In</py:def>

  <div py:match="content">
    <h2>Sign In</h2>
    <!--checkpoint:form-for-login-->
    <form method="post" action="${h.url_for('login-handler')}">
      <py:if test="c.came_from">
      <!--checkpoint:reference-to-came-from-->
      ${h.hidden('came_from', c.came_from)}
      </py:if>
      <py:if test="c.pending_action_code">
      <!--checkpoint:reference-to-pending-action-->
      ${h.hidden('code', c.pending_action_code)}
      <p><i>Your enquiry has been saved and will be resumed after logging in.</i></p>
      </py:if>
      <label for="login">Your Email:</label>
      ${h.text('login', size=50)} <br />
      <label for="password">Password:</label>
      ${h.password('password', size=50)} <br />
      <br />
      <input type="submit" name="send" value="Log In &raquo;"/>
      <!--checkpoint:option-to-register-account-details-->
      &nbsp;&nbsp;<a href="${c.pending_action_code and h.url_for('register', code=c.pending_action_code) or h.url_for('register')}"><strong>or Sign Up for a new account &raquo;</strong></a>
    </form>
    <p>
      <br />
      <!--checkpoint:option-to-recover-account-details-->
      Forgotten your password? <a href="/account/recover/">
recover account here &raquo;</a>
    </p>
  </div>

  <xi:include href="layout.html" />
</html>
