<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Recover</py:def>

  <div py:match="content">
    <h2>Account Recovery</h2>
    <i>You would enter your email, but this feature has not yet been implemented.</i>
    <!--checkpoint:form-for-recover-account-->
    <!--form method="post">
      <input type="submit" name="send" value="Send New Confirmation &raquo;"/>
      <input type="submit" name="send" value="Send New Confirmation &raquo;"/>
    </form-->
  </div>

  <xi:include href="layout.html" />
</html>
