<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <xi:include href="../message/view_core.html" />
  
  <py:def function="page_title">View</py:def>

  <div py:match="content">
    <h2>Enquiry: ${c.enquiry.id}</h2>
    <ul>
      <li><strong>Summary: ${c.enquiry.messages[0].email['Subject']}</strong></li>
      <li><strong>Status: ${c.enquiry.status}</strong></li>
      <li><strong>Started:</strong> ${c.enquiry.timestamp.isoformat()}</li>
      <li><strong>ID:</strong> ${c.enquiry.id}</li>
    </ul>
    <py:for each="message in c.enquiry.messages">
      <hr />
      ${render_message(message)}
    </py:for>

    <py:with vars="lastmsg=c.enquiry.messages[-1]">
    <a class="send-response" href="${h.url_for(controller='message',
      action='create', id=None, enquiry_id=c.enquiry.id,
      to=lastmsg.email['From'],
      sender=c.enquiry.messages[0].sender,
      subject=lastmsg.email['Subject'])}">
      Write a response &raquo;</a>
    </py:with>
	</div>

  <xi:include href="../layout.html" />
</html>

