#top {
  margin:0.3em 0 0;
}

#subnav {
  background: transparent;
  height: 0px;
  padding: 0;
  margin-bottom: -10px;
}

ul.big-buttons {
  list-style-type: none;
  margin-top: 3em;
  margin-bottom: 3em;
}

ul.big-buttons li {
  display: inline;
  font-size: 1.1em;
  margin-left: 10px;
}

ul.big-buttons li a, a.send-response {
  border: 2px solid #aaa;
  background-color: #eee;
  padding: 0.5em;
  text-decoration: none;
  width: 180px;
}

ul.big-buttons li a:hover {
  background-color: #F5E4DC;
}

div.message {
  margin-left: 2em;
}

div.message div.headers {
  margin-bottom: 1.5em;
}

div.message div.headers p {
  margin: 0;
  padding: 0;
}
input[type=submit], input[type=submit]:active {
  font-size: 1.1em;
  background-color:#EEEEEE;
  border:2px solid #AAAAAA;
  padding:0.3em;
  text-decoration:none;
}    
input[type=submit] {
  color: #BB2222;
}
input[type=submit]:active {
  color: #FF2222;
}
input[type=submit]:hover {
  background-color: #F5E4DC;
  cursor: pointer; /* hand-shaped cursor */
}

